extends layout

block page_title
  title This is the page title
  meta(charset="UTF-8")
  link(rel="stylesheet" href="/stylesheets/application.css")

block software_engineer
      h1 Hello World!
      p I'm going to be a software engineer soon!
      img(src="/images/earth.jpg" alt="The Earth" title="The Earth")